<h1>Ajotuer une voiture</h1>
<form action="/ajouter/agence" method="post">
<input type="text" name="matricule">
<input type="text" name="marque">
<input type="text" name="couleur">
<input type="text" name="carburant">
<input type="text" name="nbrplace">
<input type="text" name="descripiton">
<input type="text" name="disponibilite">
<input type="date" name="datemiseencirculation">
<button type="submit">ajouter</button>
</form>