<h1> Ajouter une agence</h1>
<form action="/ajouter/agence" method="post">
<input type="text" name="nom">
<input type="text" name="telagence">
<input type="text" name="adresseville">
<button type="submit">ajouter</button>
</form>