<h1>Modifier une agence</h1>
<form action="/modifier/agence" method="post">
<input type="text" name="nom" placeholder="">
<input type="text" name="telagence" placeholder="">
<input type="text" name="adresseville" placeholder="">
<button type="submit">modifier</button>
</form>