<h1>Modifier une voiture</h1>
<form action="/modifier/agence" method="post">
<input type="text" name="matricule" placeholder="">
<input type="text" name="marque" placeholder="">
<input type="text" name="couleur" placeholder="">
<input type="text" name="carburant" placeholder="">
<input type="text" name="nbrplace" placeholder="">
<input type="text" name="descripiton" placeholder="">
<input type="text" name="disponibilite" placeholder="">
<input type="date" name="datemiseencirculation" placeholder="">
<button type="submit">modifier</button>
</form>